
#form { 
  display:0;
}
#info {
  display: none;
}
#projects {
  display: none;
}

@media only screen and (max-width: 600px)  {
  #projects{
    grid-template-columns: repeat(1, minmax(0, 1fr));

  }
}
