#form { 
  display:0;
}
/* change, using for tests
 */

#info {
  display: none;
}
#projects {
  display: none;
}

@media only screen and (max-width: 600px)  {
  #projects{
    grid-template-columns: repeat(1, minmax(0, 1fr));

  }
}

/* bg color */
 /* #374151; */